In [59]:
transformed_files_path = None
table_name = "transactions"

In [48]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import String, Text, Float
import os

In [49]:
engine = create_engine("postgresql+psycopg2://vertex:290670@192.168.0.126:5432/finance")

In [50]:
dfs = []

for file in os.listdir(transformed_files_path):
    if file.endswith('.csv'):
        file_path = os.path.join(transformed_files_path, file)
        dfs.append(pd.read_csv(file_path))

if not dfs:
    SystemExit("no dfs found in the list")

In [52]:
combined_df.head()

,date,narration,ref_num,value_date,withdraw,deposit,closing_balance
0,01/03/25,UPI-CRIB-CRIB.CF@AXISBANK-UTIB0000100-10434965...,0000104349650605,2025-03-01,16500.0,NaN,99928.54
1,01/03/25,UPI-INDMONEY-INDMONEYMF@ICICI-ICIC0DC0099-5060...,0000506039051820,2025-03-01,10000.0,NaN,89928.54
2,01/03/25,UPI-INDMONEY-INDMONEYMF@ICICI-ICIC0DC0099-5060...,0000506039059970,2025-03-01,10000.0,NaN,79928.54
3,01/03/25,UPI-INDMONEY-INDMONEYMF@ICICI-ICIC0DC0099-5060...,0000506039100266,2025-03-01,6000.0,NaN,73928.54
4,01/03/25,UPI-INDMONEY-INDMONEYMF@ICICI-ICIC0DC0099-5060...,0000506039035874,2025-03-01,4000.0,NaN,69928.54

In [53]:
combined_df[combined_df["ref_num"] =="MIR2508463592992"]

,date,narration,ref_num,value_date,withdraw,deposit,closing_balance
37,28/03/25,.DC INTL POS TXN MARKUP+ST 070325 070325-MIR25...,MIR2508463592992,2025-03-28,17.15,NaN,113046.51

In [54]:
combined_df["ref_num"] = combined_df["ref_num"].astype(str)

In [55]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, 0 to 28
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             149 non-null    object
 1   narration        149 non-null    object
 2   ref_num          149 non-null    object
 3   value_date       149 non-null    object
 4   withdraw         135 non-null    float64
 5   deposit          14 non-null     float64
 6   closing_balance  149 non-null    float64
dtypes: float64(3), object(4)
memory usage: 9.3+ KB

In [58]:
combined_df.to_sql(table_name, engine, if_exists="append", index=False)

149